<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dojosurvey2</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">   
</head>
<body>
    <div class="container">
        <form action='/result' method='post'>
            <div class="title">
                <h1>register</h1>
                    {% csrf_token %} 
                    <label for="first_name">First name:</label>
                    <input type="text" id="first_name" name="first_name" class="form-control"><br>
                    <label for="last_name">Last name:</label>
                    <input type="text" id="last_name" name="last_name" class="form-control"><br>
                    <label for="dojo location">Dojo location:</label>
                    <input type="text" id="dojo_location" name="dojo_location" class="form-control"><br>
                    <label for="favorite language">Favorite language</label>
                    <input type="text" name="favorite_language" id="" class="form-control"><br>
                    <label for="comment">Comment:</comment>
                    <input type="comment" name="comment" id="comment" class="form-control">
                
                    <button>button</button>
                
    
                </form>
            
                
        
    </div>
   
    
</body>
</html>